# ソースのみの管理とする
*.class
# /kadai1

# emacsのバックアップファイル
*~
\#*\#

# vimのマクロ
*.vim

# 前田先生がpublic_htmlにzipを置いているので追加
*.bak
*.zip

# gradle の隠しファイル
*/.gradle

# meghanada の隠しファイル
*/.meghanada

# eclimが勝手に作るやつ
.project
.classpath
