Order Deny,Allow
Deny from all
Allow from 130.158.78.192 130.158.78.200 130.158.72.55

AuthType Basic
AuthName "Need password"
AuthUserFile /home/prof/maeda/public_html/passwd
Require valid-user

Satisfy Any


